@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
        
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }

        body {
            font-family: 'Geist', sans-serif;
            -webkit-tap-highlight-color: transparent;
        }

        .custom-shadow {
            box-shadow: 0px 4px 20px rgba(22, 163, 74, 0.05);
        }

        .safe-bottom {
            padding-bottom: env(safe-area-inset-bottom);
        }

        /* Micro-interaction for buttons */
        .btn-press:active {
            transform: scale(0.96);
        }
body {
      min-height: max(884px, 100dvh);
    }
